#infoComponent {
  background: linear-gradient(#e66465, #9198e5);
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.NavIcon {
  padding: 10px;
}

.NavStyle {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  font-size: 40px;
}

.Cloud1 {
  padding-top: 200px;
  float: right;
  max-width: 80%;
  height: auto;
  mix-blend-mode: multiply;
}

.Cloud2 {
  padding-top: 500px;
  float: left;
  max-width: 100%;
  height: auto;
  mix-blend-mode: multiply;
}

.Cloud3 {
  /* float: right; */
  max-width: 100%;
  height: auto;
  mix-blend-mode: multiply;
}

.Cloud4 {
  /* float: left; */
  padding-top: 500px;
  max-width: 100%;
  height: auto;
  mix-blend-mode: multiply;
  z-index: -5;
}

.Tick {
  /* padding-top: 1000px; */
  z-index: -1;
}

.Tick1 {
  padding-left: 500px;
}

.Tick2 {
  float: right;
}

.Tick3 {
  float: right;
}

.Tick4 {
  float: right;
}

.Tick5 {
  float: right;
}

/* .TickMap {
  background-color: black !important;
} */

.FormMove {
  font-size: 30;
  position: absolute;
  top: 110%;
  padding-left: 25%;
  z-index: 2;
}

.UlPositioning {
  position: absolute;
  top: 115%;
}
