html {
  height: 150%;
}

h2 {
  font-family: monospace;
}

body {
  /* overflow: auto; */
  background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.BrandName {
  font-size: 40px;
}

.Cloud1 {
  position: absolute;
  top: 1100px;
  left: 25%;
}

.Cloud2 {
  position: absolute;
  top: 10px;
  left: 100px;
}

.Cloud3 {
  position: absolute;
  top: 1000px;
  left: 100px;
}

.Cloud4 {
  position: absolute;
  top: 300px;
  left: 800px;
}

.Dirt1 {
  position: absolute;
  top: 6000px;
  right: 62%;
}

.Dirt2 {
  position: absolute;
  top: 3420px;
  left: 70%;
}

.Dirt3 {
  position: absolute;
  top: 5600px;
  right: 1900px;
}

.Dirt4 {
  position: absolute;
  top: 3700px;
  left: 1px;
  max-width: 100%;
  height: 4700px;
}

.FormEntry {
  padding: 40px;
}

.FormMove {
  font-size: 30;
  position: absolute;
  top: 110%;
  padding-left: 25%;
  z-index: 2;
}

.Grass {
  position: absolute;
  top: 4500px;
  right: 0.1px;
  width: 100%;
}

.NavIcon {
  padding: 25px;
}

.Nav {
  font-size: 30px;
}

.NavStyle {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  font-size: 40px;
}

.Sun {
  position: absolute;
  top: 826px;
  left: 6%;
}

.Tick1 {
  position: absolute;
  float: left;
  top: 8000px;
  left: 25%;
}

.Tick2 {
  position: absolute;
  float: right;
  top: 9000px;
  right: 51%;
}

.Tick3 {
  position: absolute;
  float: left;
  top: 7000px;
  right: 45%;
}

.Tick4 {
  position: absolute;
  top: 9000px;
  left: 35%;
}

.Tick5 {
  position: absolute;
  top: 8000px;
  right: 60%;
}

.Tick6 {
  position: absolute;
  float: right;
  top: 6000px;
  left: 55%;
}

.Tick7 {
  position: absolute;
  top: 8000px;
  right: 63%;
}

.Tick8 {
  position: absolute;
  top: 9500px;
  right: 45%;
}

.Tick9 {
  position: absolute;
  top: 6700px;
  right: 55%;
}

.Tick10 {
  position: absolute;
  top: 9000px;
  left: 45%;
}

.Tick11 {
  position: absolute;
  top: 15000px;
  right: 55%;
}

.Tick12 {
  position: absolute;
  top: 12300px;
  left: 25%;
}

.Tick13 {
  position: absolute;
  top: 17000px;
  right: 45%;
}

.Tick14 {
  position: absolute;
  top: 10000px;
  left: 55%;
}

.Tick15 {
  position: absolute;
  top: 10000px;
  left: 25%;
}

.Tick16 {
  position: absolute;
  top: 19020px;
  right: 55%;
}

.Tick17 {
  position: absolute;
  top: 13800px;
  left: 25%;
}

.Tick18 {
  position: absolute;
  top: 16000px;
  right: 25%;
}

.Tick19 {
  position: absolute;
  right: 17000px;
  top: 16200px;
}

.Tick20 {
  position: absolute;
  top: 16300px;
  left: 25%;
}

.Tick21 {
  position: absolute;
  top: 9000px;
  right: 27%;
}

.Tick22 {
  position: absolute;
  top: 10000px;
  left: 25%;
}

.Tick23 {
  position: absolute;
  top: 10100px;
}

.Tick24 {
  position: absolute;
  top: 11000px;
  left: 40%;
}

.Tick25 {
  position: absolute;
  top: 10009px;
  right: 32%;
}

.Tick26 {
  position: absolute;
  float: right;
  top: 5200px;
  left: 25%;
}

.Tick27 {
  position: absolute;
  float: left;
  top: 5800px;
  right: 25%;
}

.Tick28 {
  position: absolute;
  float: right;
  top: 7300px;
  left: 25%;
}

.Tick29 {
  position: absolute;
  float: left;
  top: 6000px;
  right: 25%;
}

.Tick30 {
  position: absolute;
  float: right;
  top: 5400px;
  left: 25%;
}

.Tick31 {
  position: absolute;
  float: left;
  top: 7000px;
  left: 25%;
}

.Tick32 {
  position: absolute;
  float: right;
  top: 6034px;
  right: 25%;
}

.Tick33 {
  position: absolute;
  float: left;
  top: 6560px;
  left: 25%;
}

.Tick34 {
  position: absolute;
  float: right;
  top: 7000px;
  right: 25%;
}

.Tick35 {
  position: absolute;
  float: left;
  top: 5300px;
  left: 25%;
}

.Tick36 {
  position: absolute;
  float: right;
  top: 5000px;
  right: 25%;
}

.Tick37 {
  position: absolute;
  float: left;
  top: 5200px;
  left: 25%;
}

.Tick38 {
  position: absolute;
  float: left;
  top: 5200px;
  right: 25%;
}

.Tick39 {
  position: absolute;
  float: left;
  top: 8200px;
}

.Tick40 {
  position: absolute;
  float: left;
  top: 5200px;
  right: 25%;
}

.TickInfo {
  position: absolute;
  top: 4470px;
  left: 33%;
}

.Tree {
  position: absolute;
  left: 23%;
  top: 3550px;
}

.UlPositioning {
  position: absolute;
  top: 138%;
  width: 100%;
  right: 0.025%;
  padding: 5%;
}
