html {
  /* overflow: hidden; */
  height: 100%;
}

body {
  height: 100%;
  /* overflow: auto; */
}

#infoComponent {
  background: linear-gradient(#e66465, #9198e5);
  height: 50%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.BrandName {
  font-size: 40px;
}

.Cloud1 {
  padding-top: 200px;
  float: right;
  max-width: 80%;
  height: auto;
  mix-blend-mode: multiply;
}

.Cloud2 {
  padding-top: 500px;
  float: left;
  max-width: 100%;
  height: auto;
  mix-blend-mode: multiply;
}

.Cloud3 {
  /* float: right; */
  max-width: 100%;
  height: auto;
  mix-blend-mode: multiply;
}

.Cloud4 {
  /* float: left; */
  padding-top: 500px;
  max-width: 100%;
  height: auto;
  mix-blend-mode: multiply;
  z-index: -5;
}

.FormEntry {
  padding: 40px;
}

.FormMove {
  font-size: 30;
  position: absolute;
  top: 110%;
  padding-left: 25%;
  z-index: 2;
}

.Grass{
  width: 100%
}

.NavIcon {
  padding: 25px;
}

.Nav {
  font-size: 30px;
}

.NavStyle {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  font-size: 40px;
}

.IG1 {
  /* padding-top: 1000px; */
  z-index: -1;
  padding-left: 30%;
}

.IG2 {
  padding-left: 20%;
  float: right;
}

.IG3 {
  float: left;
}

.IG4 {
  float: right;
}

.IG5 {
  float: left;
}

.IG6 {
  float: right;
}

.IG7 {
  float: left;
}

.IG8 {
  float: right;
}

.IG9 {
  float: left;
}
/* .TickMap {
  background-color: black !important;
} */
.Tick1 {
  float: left;
  left: 25%;
}

.Tick2 {
  /* float: right;
  right: 25%; */
}

.Tick3 {
  float: left;
  right: 25%;
}

.Tick4 {
  float: right;

}

.Tick5 {
  float: left;
}

.Tick6 {
  float: right;
}

.Tick7 {
  float: right;
}

.Tick8 {
  float: left;
}

.Tick9 {
  float: right;
}

.Tick10 {
  float: left;
}

.Tick11 {
  float: right;
}

.Tick12 {
  float: left;
}

.Tick13 {
  float: right;
}

.Tick14 {
  float: left;
}

.Tick15 {
  float: right;
}

.Tick16 {
  float: left;
}

.Tick17 {
  float: right;
}

.Tick18 {
  float: left;
}

.Tick19 {
  float: right;
}

.Tick20 {
  float: left;
}

.Tick21 {
  float: left;
}

.Tick22 {
  float: right;
}

.Tick23 {
  float: left;
}

.Tick24 {
  float: right;
}

.Tick25 {
  float: left;
}

.Tick26 {
  float: right;
}

.Tick27 {
  float: left;
}

.Tick28 {
  float: right;
}

.Tick29 {
  float: left;
}

.Tick30 {
  float: right;
}

.Tick31 {
  float: left;
}

.Tick32 {
  float: right;
}

.Tick33 {
  float: left;
}

.Tick34 {
  float: right;
}

.Tick35 {
  float: left;
}

.Tick36 {
  float: right;
}

.Tick37 {
  /* float: left; */
}

.Tick38 {
  /* float: right; */
}

.Tick39 {
  /* float: left; */
}

.Tick40 {
  /* float: right; */
}


.UlPositioning {
  position: absolute;
  left: 30%;
  top: 130%;
  padding: 30px;
}
